.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page form {
    display: flex;
}
.title {
    display: flex;
}
.bar {
    height: 200px;
    width: 6px;
    margin-right: 10px;
    background-color: #c7dde8;
}
.image {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}
.image div {
    height: 50px;
    display: flex;
    align-items: center;
}
.add,
.contact {
    background-color: #fff;
    border-radius: 10px;
    height: 600px;
    padding: 15px;
}
.add {
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    width: 1000px;
    margin-right: 50px;
}
.inputs {
    display: flex;
    flex-wrap: wrap;
}
.inputs input,
.inputs textarea {

    all: unset;
    height: 20px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    border: solid 1px #000;
}
.inputs textarea {
    resize: none;
    height: 100px;
}
.buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.buttons button {
    margin: 0 5px;
}
.contact {
    width: 500px;
}
.contactTitle div {
    display: flex;
}
.contactTitle span {
    font-size: 30px;
}
.editStatus {
    padding-top: 50px;
    user-select: none;
    color: #fff;
}