.page {
    padding-left: 5rem;
    padding-top: 3rem;
}
.title {
    font-size: 60px;
    color: #c7dde8;
    padding-bottom: 3rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.memberList {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 600px;
    width: 200px;
    padding: 12px;
    border-radius: 10px;
}
.member {
    display: flex;
    position: relative;
    padding: 5px 0;
}
.memberSelect {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.memberCard {
    position: relative;
    margin: 0 20px;
    padding: 12px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: #fff;
}
.imageContainer {
    display: flex;
    padding: 10px 0;
}
.bar {
    height: 100px;
    width: 6px;
    margin-right: 6px;
    background-color: #c7dde8; 
}
.cardImage {
    position: relative;
    height: 100px;
    width: 100px;
}
.cardButtons {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.delete,
.update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}
.delete {
    background-color: #bd0f0f;
    margin-right: 10px;
}
.update {
    background-color: #7ed6e6;
}