.title {
    font-size: 60px;
    color: #c7dde8;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-top: 3rem;
}
.title,
.title span {
    display: flex;
    align-items: center;
}
.title span:nth-child(2) {
    cursor: pointer;
    font-size: 45px;
    margin-left: 30px;
}
.container {
    display: flex;
    position: relative;
    padding-left: 5rem;
    margin: 50px;
}
.eventCard,
.addCard {
    margin: 0 10px;
    position: relative;
    height: 400px;
    width: 275px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}
.eventCard input,
.eventCard textarea {
    resize: none;
}
.delButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
}
.delButton button {
    all: unset;
    cursor: pointer;
    border-radius: 90px;
    border: 2px solid #000;
    position: absolute;
    background-color: red;
    top: -10px;
    right: -10px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitle {
    font-size: 25px;
    overflow: hidden;
}
.dateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.dateContainer input {
    text-align: center;
}
.dateContainer input:nth-child(1) {
    width: 60px;
    font-size: 50px;
    text-align: center;
}
.detailContainer {
    display: flex;
    flex-direction: column;
}
.forms {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.addButton span {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
}