.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
}
.bar {
    height: 200px;
    width: 6px;
    margin-right: 10px;
    background-color: #c7dde8;
}
.image {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}
.image div {
    height: 50px;
    display: flex;
    align-items: center;
}
.add {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    height: 600px;
    width: 1000px;
    padding: 15px;
}
.add form {
    height: 100%;
    position: relative;
}
.inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inputs input {
    all: unset;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: solid 1px #000;
}
.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.buttons button {
    margin: 0 5px;
}
.editStatus {
    padding-top: 50px;
    user-select: none;
    color: #fff;
}