.container {
    margin: 30px;
    display: flex;
}
.homeCard {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    height: 125px;
    width: 400px;
    border-radius: 10px;
}
.linkCard,
.wikiCard {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 125px;
    width: 200px;
}
.linkCard span,
.wikiCard span,
.homeTitle {
    font-size: 25px;
}
.linkCard a,
.wikiCard a {
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: black;
}
.linkCard a span,
.wikiCard a span {
    padding: 0 5px;
    font-size: 16px;
}